.drawer-container {
  height: 100vh;
}
.admin-logo{
  width: 150px;
  align-items: center;
}
.drawer {
  width: 250px;
}
.content {
  padding: 16px;
}
.menu-items{
  align-items: center;
  justify-content: center;
}
