mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  p {
    margin-top: 10px;
    font-size: 0.9em;
    color: gray;
  }
}

mat-dialog-actions {
  padding: 0 24px 20px;
}
