:host {
  display: block;
  padding: 24px;
}

h1 {
  font-size: 1.875rem;
  font-weight: 400;
  color: #1f2937;
  margin-bottom: 24px;
}
.tools-grid-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  @media (min-width: 992px) {
    grid-template-columns: 1fr 2fr;
  }
}
.terms-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
}

.card-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4b5563;
  font-weight: 400;
}

mat-form-field {
  width: 100%;
}

.settings-form {
  padding-top: 16px;
}

mat-card-actions {
  margin-top: auto;
  padding: 8px 16px !important;
  display: flex;
  justify-content: flex-end;
}
