<div class="dashboard-container">
  <h1>Dashboard Administrativo</h1>

  <div *ngIf="isLoading" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    <p>Carregando dados do dashboard...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <div *ngIf="!isLoading && !error" class="dashboard-grid">

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Sessões Ativas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="metric">{{ dashboardData.validSessionsCount !== undefined ? dashboardData.validSessionsCount : 'N/A'
          }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" *ngIf="dashboardData.systemInfo">
      <mat-card-header>
        <mat-card-title>Info do Sistema</mat-card-title>
      </mat-card-header>
      <mat-card-content class="system-info">
        <p>Hostname {{ dashboardData.systemInfo.hostname || 'N/A' }}</p>
        <p>IP {{ dashboardData.systemInfo.ipAddress || 'N/A' }}</p>
        <p>OS {{ dashboardData.systemInfo.operatingSystem }} {{
          dashboardData.systemInfo.operatingSystemVersion }}</p>
        <p>Java {{ dashboardData.systemInfo.javaVersion }}</p>
      </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card" *ngIf="dashboardData.systemMemory">
      <mat-card-header>
        <mat-card-title>Uso de Memória</mat-card-title>
      </mat-card-header>
      <mat-card-content class="system-info">
        <p>Usada {{ formatBytes(dashboardData.systemMemory.used) }}</p>
        <p>Livre {{ formatBytes(dashboardData.systemMemory.free) }}</p>
        <p>Total {{ formatBytes(dashboardData.systemMemory.total) }}</p>
        <p>Máxima {{ formatBytes(dashboardData.systemMemory.max) }}</p>
      </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card" *ngIf="osChartData">
      <mat-card-header>
        <mat-card-title class="chart-title">Sessões por S.O.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas baseChart [data]="osChartData" [options]="doughnutChartOptions" type="doughnut">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="dashboard-card" *ngIf="browserChartData">
      <mat-card-header>
        <mat-card-title class="chart-title">Sessões por Navegador</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-container">
          <canvas baseChart [data]="browserChartData" [options]="doughnutChartOptions" type="doughnut">
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
