<div class="container">
<div class="main-content">
    <div class="main-logo">
      <img src="../../../assets/logo-samar.png" alt="logo-samar">
    </div>
  <span class="bem-vindo-texto">Seja bem vindo à rede hospitalar Samar, <br>por favor preencha corretamente os dados <br> usar a rede WI-FI.</span>
  <p>Para usar a rede WIFI, inicie seu login ou cadastre-se</p>

  <button mat-button class="btn" routerLink="/login"><mat-icon>login</mat-icon>login</button>
  <button mat-button class="btn" routerLink="/cadastro"><mat-icon>person_add</mat-icon>Cadatre-se</button>
</div>
</div>
